<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pducic.noisemaker" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JamminActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pducic.noisemaker.MainMenuActivity" />
        </activity>
        <activity
            android:name=".LevelsConfigurationActivity"
            android:label="@string/title_activity_levels"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pducic.noisemaker.MainMenuActivity" />
        </activity>
        <activity
            android:name=".LevelActivity"
            android:label="@string/title_activity_level"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pducic.noisemaker.LevelsConfigurationActivity" />
        </activity>
        <activity
            android:name=".LyricsActivity"
            android:label="@string/title_activity_lyrics"
            android:parentActivityName=".MainMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.pducic.noisemaker.MainMenuActivity" />
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

</manifest>
